body,
html {
    height: 100vh;
    margin: 0;
    background: #f6f6f8;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section {
    text-align: center;
    padding-bottom: 5%;
}

img {
    max-width: 50%;
    height: auto;
}

h1 {
    color: #cc2905;
    margin: 35px;
}

h3 {
    color: #475B63;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #475B63;
    font-size: 0.9em;
    text-align: center;
}

.join {
    color: #f6f6f8 !important;
    margin-top: 5%;
    background-color: #cc2905;
    padding: 10px 35px;
    font-size: 0.9em;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    appearance: button;
}

.join:hover {
    background-color: #767676;
    text-decoration: none;
}

.title-design {
    margin: 20px;
    display: block;
}

.container p {
    color: #cc2905;
}

.navbar {
    position: fixed;
    box-shadow: 0 !important;
    border: 0 !important;
    background: #f6f6f8 !important;
    width: 100%;
}

.navbar a {
    font-family: 'Montserrat', sans-serif !important;
    color: darkgray !important;
}

.navbar-toggle {
    border: 0;
    padding-right: 2%;
    text-decoration: none;
}

.navbar-toggle:hover {
    text-decoration: none;
    background-color: #eee;
}

.button:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand {
    padding-top: 2%;
}

@media (min-width: 767px) {
    .navbar-nav.navbar-center {
        position: fixed;
        left: 50%;
        transform: translatex(-50%);
    }
    .navbar-brand {
        padding-top: 5%;
    }
}

.hero-image {
    top: 0;
    left: 0;
    height: 100vh;
    background: url("images/productPhotos/whiteBg.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*There Was Jesus*/
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #ff2d00;
}

.container h1 {
    margin: 0;
    padding-top: 0;
    color: #2e2c2f;
    font-size: 4em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.container h1 span {
    display: inline-block;
}

.mission {
    padding: 2%;
}

.mission p {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0.05%;
    text-align: justify;
}

@media screen and (min-width: 601px) {
    .mission p,
    .spec-frame p {
        font-size: 1.15em;
    }
}

video {
    float: left;
    width: 100% !important;
    height: auto !important;
    padding: 10%;
    background-color: #2e2c2f;
}

.spec1frame {
    margin-top: 50%;
}

.spec1frame h1 {
    color: #cc2905;
    margin: 35px;
    padding-top: 15%;
    padding-bottom: 0%;
}

.spec-frame p {
    text-align: center;
    padding: 2%;
    font-size: 1.0em;
}

.spec-frame img {
    width: 100% !important;
    height: auto !important;
}

.paralax2 {
    top: 0;
    left: 0;
    height: 50vh;
    background: url(images/productPhotos/cyan.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax3 {
    top: 0;
    left: 0;
    height: 100vh;
    background: url(images/productPhotos/collageWeb2.png);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 749px) {
    .paralax2,
    .paralax3 {
        background-attachment: scroll;
    }
    .paralax3 {
        background: url(images/productPhotos/collageMobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 50vh;
    }
}

.morespecs {
    padding: 5% 10%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.morespecs li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-align: center;
    color: #475B63;
}

.waitlistdesign {
    background-color: #2e2c2f;
    padding: 4%;
}

.waitlistdesign p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
    padding-top: 0%;
    text-align: center;
    color: white;
}

.team img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.team h1 {
    color: #cc2905;
    margin: 35px;
    padding-top: 10px;
}

.column {
    float: float;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.footer {
    width: 100%;
    background-color: #767676;
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}